<!DOCTYPE html>
<html>
<head>
	<title>Wolfram Beta</title>
	<!-- <link rel="stylesheet" type="text/css" href="../static/css/styles.css"> -->
	<link rel="favicon" type="image/png" href="favicon.png"/>
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

	<header>
		<div class="container">
		<div id="brandname">
			<!--Machine Learning App with Flask-->
		</div>
		<!--<h2>Spam Detector For SMS Messages</h2>-->
		<br><br>
        <center><img src="https://github.com/mathemakitten/bad-wolfram-alpha/blob/master/logo/wolfram-beta-logo.png"></center>

	</div>
	</header>

	<div class="ml-container" align="center">

		<br>
		<form action="{{ url_for('predict')}}" method="POST"> <!--onsubmit="return false">-->
			<p><center><font face="Arial" color="grey" size=2>Enter what you want to calculate or know about</font></center></p>
		<!-- <input type="text" name="comment"/> -->
		<textarea name="message" rows="1" cols="100"></textarea>
		<br/>

		<input type="submit" class="btn-info" value="submit">

	</form>

	<br><br><br><br>

	<center><font face="Arial" color="grey" size=2>

		<b>Suggestions to get started:</b> <br><br>
	<i>
	"What is 2+2?" <br>
	"Add 55.5 + 49" <br>
	"How many cantoulopes do I have?"
	</i>
	</font></center>

		<br><br><br><br><br><br><br>


	<p><center><font face="Arial" color="grey" size=2>
		Wolfram Beta is a neural network has been trained to do grade-school mathematics. <br>
		It was created by Helen Ngo, Joseph Palermo, Michael Jia, and Rayhane Mama. <br><br>
		For more information, see our <a href="https://github.com/mathemakitten/bad-wolfram-alpha">GitHub repository</a>.

		<br><br>

		The Wolfram Alpha name and logo is © 2019 Wolfram Alpha LLC.


	</font></center></p>

	</div>




</body>
</html>
